# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\amirr\Documents\Life\Bachelor's_period\Courses\Algorithm_Design\Projects\Quick_Sort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
